# Jupyter notebooks
jupyter

# Visualization
matplotlib
plotly
nbformat
opencv-python
scikit-image
seaborn

# Data handling
scipy
pandas
numpy

# Preprocessing
nibabel

# Deep learning
sklearn
tensorflow
optuna
